*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# dodaj logi z folderu Dane Paliwowe
!*.log
query-quality/.idea/compiler.xml
query-quality/.idea/copyright/profiles_settings.xml
query-quality/.idea/description.html
query-quality/.idea/misc.xml
query-quality/.idea/modules.xml
query-quality/.idea/project-template.xml
query-quality/.idea/workspace.xml
query-quality/query-quality.iml
